.detail-image-wrapper {
    padding: 40px 40px 50px;
    position: relative;
}

.detail-image-wrapper img {
    max-width: 100%;
}

.detail-title {
    padding: 40px 40px 10px;
}

.detail-sub_title {
    padding: 10px 40px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #7b7b7b;
}

.description-wrapper {
    padding: 10px 40px;
}

.region {
    position: absolute;
    bottom: -2px;
}

.lg-font {
    font-size: 1.4rem;
}

.custom-header {
    margin-bottom: 35px;
    text-align: center;
}

.content-wrapper {
    background: white;
    border-radius: 10px;
    margin: 20px 0;
}

.bg-gray {
    background: #f6f6f6;
}

.call-back-text {
    padding-bottom: 20px;
    font-size: 1rem;
}

.slick-dots li button::before {
    font-size: 1rem;
}

@media screen and (max-width: 524px) {
    #tm-section-1 {
        height: 770px;
    }
}

.rem-1-2 {
    font-size: 1.2rem;
    font-weight: 600;
}
